@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&display=swap');

h1, .brand-logo {
    font-family: 'Nosifer', cursive;
}

h4 {
    font-family: 'Metal Mania', cursive;
}

body {
    background: url('../images/white-hands-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #a52612;
}