@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&display=swap');

/* body styling incl materialize css for sticky footer */
body {
    background: url('../images/white-hands-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #a52612;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* materialize css for sticky footer */
main {
    flex: 1 0 auto;
  }

/* headers */
h1, .brand-logo {
    font-family: 'Nosifer', cursive;  
}

h1 {
    text-shadow: 2px 2px whitesmoke;
}

h1, h2, h4, p {
    text-align: center;
    margin-top: 50px;  
}

h2, h4 {
    font-family: 'Metal Mania', cursive;
    text-shadow: 2px 2px whitesmoke;
}

/* nav bar styling */
.nav-wrapper {
    background-color: #2f3437;
}

/* footer */
footer {
    margin-top: 20px;
    height: 70px;
    background-color: #2f3437;
}

.footer-div {
    height: 70px;
}

.footer-text {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Nosifer', cursive;
}
.footer-text a {
    color: whitesmoke;
    margin: 5px;
}

/* forms */
form {
    margin-top: 60px;
}

.form-row {
    margin: 40px 20px 40px 20px;
}

/* buttons */
.btn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-small {
    margin-bottom: 20px;
}

.search-button {
    font-size: 18px;
}

/* flash messages */
.flashes h4 {
    line-height: 3;
}

/* home page */
.category-box {
    height: 300px;
    width: 50%;  
    border: 2px solid black;
}

/* reviews page */
.category-image {
    width: 200px;
    height: 200px;
    margin: 20px;
}



