@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nosifer&display=swap');

h1, .brand-logo {
    font-family: 'Nosifer', cursive;
}

h1, h2, h4, p {
    text-align: center;
    margin-top: 50px;
}

h2, h4 {
    font-family: 'Metal Mania', cursive;
}

body {
    background: url('../images/white-hands-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #a52612;
}

.category-box {
    height: 300px;
    width: 50%;  
    border: 2px solid black;
}
form {
    margin-top: 60px;
}
.form-row {
    margin: 40px 20px 40px 20px;
}

.btn {
    margin-top: 50px;
    margin-bottom: 50px;
}

.flashes h4 {
    line-height: 3;
}

.category-image {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.btn-small {
    margin-bottom: 20px;
}

.search-button {
    font-size: 18px;
}
