{% extends "base.html" %}
{% block content %}

<h1>The Dark Side</h1>
<h2>Welcome to The Dark Side, where like minded horror fans can share reviews on all things horror</h2>
<p class="intro-text">Want to find your next great read, something terrifying for movie night, next addictive horror tv series?
  Have a look at all our reviews below. Favourite show or book not here? Join the horror community and
  add your own reviews to share with everyone. <br>Sign up now for a free account!
  Already registered? Head over to our login page.</p>

<div class="row">

  <div class="col s12 l3 offset-l1 hoverable category-box">
    <h4><a href="{{ url_for('get_reviews') }}">Books</a></h4>
  </div>
  <div class="col s12 l3 hoverable category-box">
    <h4><a href="{{ url_for('get_reviews') }}">Movies</a></h4>
  </div>
  <div class="col s12 l3 hoverable category-box">
    <h4><a href="{{ url_for('get_reviews') }}">TV Shows</a></h4>
  </div>
</div>

{% endblock %}