{% extends "base.html" %}
{% block content %}

<div class="col s12 m7">
    <h2 class="header">Movie Reviews</h2>

    <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('search') }}">
          <div class="row valign-wrapper center-align search-row">
              <div class="col s12 input-field">
                  <i class="fas fa-search prefix"></i>
                  <input type="text" name="query" id="query" minlength="1" class="validate" required>
                  <label for="query">Search all reviews by Title</label>
              </div>
            </div>
              <div class="row valign-wrapper center-align">
                <div class="col s12">
                  <a href="{{ url_for('get_reviews') }}" class="btn waves-effect waves-light red darken-4 center-align search-button">Reset</a>
                  <button class="btn waves-effect waves-light red darken-4 center-align search-button" type="submit" >
                    <i class="fas fa-search"></i> Search
                  </button>
                </div>
            </div>
        
      </form>
    </div>
    </div>

    {% if reviews|length == 0 %}
      <h4>No results found</h4>
    {% endif %}

    <div class="row">
    {% for review in reviews %}
      {% if review.category_name == "Movie" %}
      <div class="col s12 m6 l4">
      <div class="card hoverable"> 
        <div class="card-image">
          {% if review.image_url %}
          <img class="activator category-image" src="{{ review.image_url }}" alt="{{ review.title_name }} image">
          {% else %}
              {% if review.category_name == "Book" %}
                <img class="activator category-image" src="../static/images/Book-image.jpg">
              {% elif review.category_name == "Movie" %}
                <img class="activator category-image" src="../static/images/film-image.jpg">
              {% else %}
                <img class="activator category-image" src="../static/images/tv-image.jpg">
              {% endif %}
          {% endif %}
        </div>
    
          <div class="card-content">
            <span class="category-heading card-title activator">{{ review.category_name }}<i class="fas fa-arrow-circle-up right"></i></span>
            <span class="review-heading">Title:</span><span class="review-content">{{ review.title_name }}</span> <br>
            {% if review.author_name %}
              <span class="review-heading">Author:</span> <span class="review-content">{{ review.author_name }}</span><br>
            {% endif %}
          </div>
            <div class="card-reveal">
              <span class="review-heading card-title">Synopsis:<i class="fas fa-arrow-circle-down right"></i></span> <span class="review-content">{{ review.synopsis }}</span><br>
              <span class="review-heading">Review:</span><br><span class="review-content">{{ review.user_review }}</span><br>
              <span class="review-heading"><br><em>Added by:</em></span><span class="review-content">{{ review.added_by }}</span><br>
            </div>    
      </div> 
  </div>
  {% endif %}

{% endfor %}
</div>     
                

{% endblock %}